<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
  <%- include ("../partials/styles.ejs") %>
</head>

<body>

<%- include ("../partials/nav.ejs") %>
<div class="container">
  <h2>Callbacks Results</h2>
  <div>
    <form action="">
      New Callback Name: <input type="text" id="callbackName">
      <button type="button" id="btnNuevo">Crear</button>
    </form>
  </div>

  <table id="tableContent" class="display">
    <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% results.forEach(function(r) { %>
    <tr>
      <td>
        <% if(r.callbackid){ %>
          <%= r.callbackid %>
        <% }else{ %>
          <button type="button" class="sendToMC" data-cbid="<%= r.id %>">Send to MC</button>
        <% } %>
      </td>
      <td><a href="callbacks/<%= r.id %>"><%= r.callbackname %></a></td>
      <td>
        <% if(r.callbackid!=undefined && r.status==undefined){ %>
          <button type="button" class="verifyCB" data-cbid="<%= r.id %>">Verify</button>
        <% } else if(r.status=='verify'){ %>
          <button type="button" class="subscriptionCB" data-cbid="<%= r.id %>">Subscription</button>
        <% }else{ %>
          <%= r.status %>
        <% } %>
      </td>
    </tr>
    <% }); %>
  </tbody>
  </table>
</div>
<script>
  $(document).ready(function(){
    $('#tableContent').DataTable();

    $(document).ajaxSend(function() {
      $("#overlay").fadeIn(300);　
    });
    
    $("#callbackName").on("keypress", function (event) { 
      var keyPressed = event.keyCode || event.which; 
      if (keyPressed === 13) { 
          event.preventDefault(); 
          return false; 
      }
    }); 

    $("#btnNuevo").click(function(){
      $("#btnNuevo").attr("disabled", true);
      cbName = $('#callbackName').val();
      console.log(cbName);
      $.get( "../api/callback/new/"+cbName, function( data ) {
        console.log( data );
        $("#overlay").fadeOut(300);
        location.reload(true);
      });
    });

    $(".sendToMC").click(function(){
      $(".sendToMC").attr("disabled", true);
      cbId = $(this).attr('data-cbid');
      console.log(cbId);
      $.get( "../api/callback/send/"+cbId, function( data ) {
        console.log( data );
        $("#overlay").fadeOut(300);
        location.reload(true);
      });
    });

    $(".verifyCB").click(function(){
      $(".verifyCB").attr("disabled", true);
      cbId = $(this).attr('data-cbid');
      console.log(cbId);
      $.get( "../api/callback/verify/"+cbId, function( data ) {
        console.log( data );
        $("#overlay").fadeOut(300);
        location.reload(true);
      });
    });

    $(".subscriptionCB").click(function(){
      $(".subscriptionCB").attr("disabled", true);
      cbId = $(this).attr('data-cbid');
      console.log(cbId);
      $.get( "../api/callback/subscription/new/"+cbId, function( data ) {
        console.log( data );
        $("#overlay").fadeOut(300);
        location.reload(true);
      });
    });
    

  });
</script>
</body>
</html>
