<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

<%- include ("../partials/nav.ejs") %>

<div class="container">
    <h2>Suscriptions Details</h2>

    <ul>
        <% results.forEach(function(r) { %>
            <li><%= r.subscriptionid %></li>
            <li><%= r.subscriptionname %></li>
            <li><%= r.eventcategorytypes %></li>
        <% }); %>
    </ul>
    <h2>Events Results</h2>

    <table id="tableContent" class="dispay">
        <thead>
        <tr>
            <th>Callback</th>
            <th>created at</th>
            <th>Category Type</th>
            <th>Body</th>
        </tr>
    </thead>
    <tbody>
        <% resultsEvents.forEach(function(r) { %>
        <tr>
            <td><%= r.idcallback %></td>
            <td><%= r.created_at %></td>
            <td><%= r.eventCategoryType %></td>
            <td><%= r.body %></td>
        </tr>
        <% }); %>
    </tbody>
    </table>


</div>

<script>
    $(document).ready( function () {
      $('#tableContent').DataTable();
    } );
  </script>
</body>
</html>
